<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roarm_m2">
    <xacro:arg name="initial_positions_file" default="$(find simplebot_description)/urdf/control_m2/initial_positions.yaml" />
    <xacro:arg name="use_gazebo" default="false" />

    <!-- Import roarm_m2 urdf file -->
    <xacro:include filename="$(find simplebot_description)/urdf/roarm_m2/roarm_m2.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(find simplebot_description)/urdf/control_m2/roarm_m2.ros2_control.xacro" />

    <xacro:roarm_m2_ros2_control
        name="RoArmSystem"
        initial_positions_file="$(arg initial_positions_file)"
        use_gazebo="$(arg use_gazebo)"/>

</robot>
