<?xml version="1.0"?>
<robot name="femto_bolt" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:property name="cam_width" value="0.1153"/>
  <xacro:property name="cam_height" value="0.06495"/>
  <xacro:property name="cam_depth" value="0.04026"/>
  <xacro:property name="mesh_path" value="package://simplebot_description/meshes/femto_bolt/" />

  <xacro:property name="base_link_to_link_x" value="0.03645"/>
  <xacro:property name="base_link_to_link_y" value="0.00198"/>
  <xacro:property name="base_link_to_link_z" value="0.021"/>
  <xacro:property name="depth_to_ir_offset" value="0.0"/>
  <xacro:property name="camera_link_to_depth_rotation_roll" value="-0.0063718"/>
  <xacro:property name="camera_link_to_depth_rotation_pitch" value="0.1061316"/>
  <xacro:property name="camera_link_to_depth_rotation_yaw" value="0.000231"/>
  <xacro:property name="depth_to_color_offset_x" value="-0.0021445322036743163"/>
  <xacro:property name="depth_to_color_offset_y" value="-0.03267627716064453"/>
  <xacro:property name="depth_to_color_offset_z" value="-0.0010942233800888062"/>
  <xacro:property name="depth_to_color_rotation_roll" value="0.006371800289866152"/>
  <xacro:property name="depth_to_color_rotation_pitch" value="-0.10613163835054795"/>
  <xacro:property name="depth_to_color_rotation_yaw" value="-0.00023102465978322808"/>

  <xacro:macro name="femto_bolt" params="prefix parent *origin use_nominal_extrinsics:=true use_gazebo:=false">

    <joint name="${prefix}_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_base_link" />
    </joint>

    <link name="${prefix}_base_link" >
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="$(find simplebot_description)/meshes/femto_bolt/femto_bolt.stl" />
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="$(find simplebot_description)/meshes/femto_bolt/femto_bolt.stl" />
        </geometry>
      </collision>
      <inertial>
      <mass value="0.2"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      </inertial>
    </link>

    <joint name="${prefix}_link_joint" type="fixed">
      <origin xyz="${base_link_to_link_x} ${base_link_to_link_y} ${base_link_to_link_z}" rpy="0 0 0"/>
      <parent link="${prefix}_base_link"/>
      <child link="${prefix}_link"/>
    </joint>

    <link name="${prefix}_link" />

    <xacro:if value="${use_nominal_extrinsics}">
      <joint name="${prefix}_depth_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${camera_link_to_depth_rotation_roll} ${camera_link_to_depth_rotation_pitch} ${camera_link_to_depth_rotation_yaw}"/>
        <parent link="${prefix}_link"/>
        <child link="${prefix}_depth_frame" />
      </joint>
      <link name="${prefix}_depth_frame"/>

      <joint name="${prefix}_depth_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
        <parent link="${prefix}_depth_frame" />
        <child link="${prefix}_depth_optical_frame" />
      </joint>
      <link name="${prefix}_depth_optical_frame"/>

      <joint name="${prefix}_ir_joint" type="fixed">
        <origin xyz="0 ${depth_to_ir_offset} 0" rpy="0 0 0" />
        <parent link="${prefix}_depth_frame" />
        <child link="${prefix}_ir_frame" />
      </joint>
      <link name="${prefix}_ir_frame"/>

      <joint name="${prefix}_ir_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
        <parent link="${prefix}_ir_frame"/>
        <child link="${prefix}_ir_optical_frame"/>
      </joint>
      <link name="${prefix}_ir_optical_frame"/>

      <joint name="${prefix}_color_joint" type="fixed">
        <origin xyz="${depth_to_color_offset_x} ${depth_to_color_offset_y} ${depth_to_color_offset_z}"
          rpy="${depth_to_color_rotation_roll} ${depth_to_color_rotation_pitch} ${depth_to_color_rotation_yaw}" />
        <parent link="${prefix}_depth_frame"/>
        <child link="${prefix}_color_frame"/>
      </joint>
      <link name="${prefix}_color_frame"/>

      <joint name="${prefix}_color_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
        <parent link="${prefix}_color_frame"/>
        <child link="${prefix}_color_optical_frame"/>
      </joint>
      <link name="${prefix}_color_optical_frame"/>
      
      <joint name="${prefix}_imu_joint" type="fixed">
        <!-- Gyro origin = depth camera origin -->
        <origin xyz="0 0 0" rpy="${M_PI} 0 0"/>
        <parent link="${prefix}_depth_frame"/>
        <child link="${prefix}_imu_link"/>
      </joint>

      <link name="${prefix}_imu_link">
        <inertial>
          <mass value="0.01"/>
          <origin xyz="0 0 0"/>
          <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
        </inertial>
      </link>
    </xacro:if>

    <xacro:if value="${use_gazebo}">
      <gazebo reference="${prefix}_color_frame">
        <sensor name="${prefix}_rgb" type="camera">
          <camera>
            <horizontal_fov>1.396</horizontal_fov>
            <image>
              <width>1280</width>
              <height>720</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.01</near>
              <far>10.0</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>true</visualize>
          <topic>${prefix}/image_raw</topic>
          <gz_frame_id>${prefix}_color_optical_frame</gz_frame_id>
        </sensor>
      </gazebo>

      <gazebo reference="${prefix}_depth_frame">
        <sensor name="${prefix}_depth" type="depth_camera">
          <camera>
            <horizontal_fov>1.134</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>R_FLOAT32</format>
            </image>
            <clip>
              <near>0.25</near>
              <far>5.5</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>30</update_rate>
          <visualize>true</visualize>
          <topic>${prefix}/depth</topic>
          <gz_frame_id>${prefix}_depth_optical_frame</gz_frame_id>
        </sensor>
      </gazebo>


      <gazebo reference="${prefix}_imu_link">
        <sensor name="${prefix}_imu" type="imu">
          <always_on>1</always_on>
          <update_rate>200</update_rate>
          <visualize>true</visualize>
          <topic>${prefix}/imu</topic>
          <gz_frame_id>${prefix}_imu_link</gz_frame_id>

          <imu>
            <angular_velocity>
              <x>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.0002</stddev>
                </noise>
              </x>
              <y>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.0002</stddev>
                </noise>
              </y>
              <z>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.0002</stddev>
                </noise>
              </z>
            </angular_velocity>

            <linear_acceleration>
              <x>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.017</stddev>
                </noise>
              </x>
              <y>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.017</stddev>
                </noise>
              </y>
              <z>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.017</stddev>
                </noise>
              </z>
            </linear_acceleration>
          </imu>
        </sensor>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>