# Roarm
aiohttp
ujson
aiortc
av
opencv-python
empy==3.3.4
lark
catkin_pkg
pytest
flake8
roarm-sdk==0.1.0
simplejson
requests

setuptools
adafruit-circuitpython-lsm6ds
scipy 
pyserial
hidapi 
adafruit-circuitpython-seesaw
pyyaml
pymongo
psutil
tornado
argcomplete
numpy
colcon-common-extensions

#betterlaunch dependencies
click
setproctitle
docstring-parser

# MCP Server
fastmcp>=2.11.3
mcp[cli]>=1.13.0
jsonschema>=4.25.1
pillow>=11.3.0
websocket-client>=1.8.0
cbor2